body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  text-align: center;
}

header  {
  font-size: 9px;
}

.centertext {
  text-align:justify;
  margin: 0 auto;
  width: 500px;
}

.border {
  border: 3px solid lightseagreen;
  margin: 20px;
  padding: 10px;
}

.horinav li {
  list-style-type: none;
  display: inline;
  margin: 5px;
}

.borderpic {
  border: solid lightseagreen;
}

@media (min-width: 1024px) {
body {
  background-color: khaki;
  color: aqua;
  font-size: smaller;
  line-height: 3rem;
}

}